html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.container {
  /* width: 100%; */
  width: 1200px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
}

.site-header {
  position: relative;
  padding: 100px 0;
  color: white;
  background: #d22929;
}

.site-header .button {
  display: inline-block;
  padding: 25px;
  background: white;
  color: #d22929;
  border: 1px solid white;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 25px;
}

.site-header .button:hover,
.site-header .button:focus {
  background: #d22929;
  color: white;
}

.site-main {
  padding: 75px 0;
}

h1 {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
}

pre {
  padding: 20px;
  color: white;
  background: #333;
}

a {
  color: #d22929;
}

